<%= form_with(model: comment) do |form| %>
  <%= hidden_field_tag :story_id, story.id %>
  <%= hidden_field_tag :parent_id, local_assigns[:parent]&.id %>

  <%= form.rich_text_area :content, id: "#{dom_id(local_assigns[:parent] || story, comment)}_content", autocomplete: 'content', class: 'form-control', rows: 4 %>
  <%= render partial: 'shared/errors', locals: { resource: form.object, attribute: :content } %>

  <div class='d-flex align-items-center mt-3'>
    <%= form.submit t('save'), class: 'btn btn-m btn-primary me-3' %>

    <% target = local_assigns[:parent] || comment %>
    <% if target&.persisted? %>
      <%= link_to "Cancel", comment_path(target, story_id: story.id), class: 'btn btn-link', data: { turbo_method: :get, turbo_confirm: t('are_you_sure_changes_unsaved') } %>
    <% end %>
  </div>
<% end %>
