<%= form_with(model: [ commentable, comment ], id: dom_id_for_records(commentable, comment)) do |form| %>
  <%= form.rich_text_area :content, autocomplete: "content", class: "form-control", rows: 4 %>
  <%= render partial: "shared/errors", locals: { resource: comment, attribute: :content } %>

  <div class="d-flex align-items-center mt-3 mb-3">
    <%= form.submit "Save", class:"btn btn-m btn-primary me-3" %>
    <%= link_to "Cancel", request.referer == new_story_url ? commentable : request.referer,
      data: { turbo_method: :get, turbo_confirm: t('are_you_sure_changes_unsaved') },
      type: "cancel",
      class: "btn btn-m btn-danger"
    %>
  </div>
<% end %>
