<%= turbo_stream.replace "#{dom_id(@story)}_comments" do %>
  <div id="<%= dom_id(@story) %>_comments" data-controller="scroll-into-view">
    <% if @comment.parent&.level.to_i <= 9 %>
      <%= link_to("Back to previous comments", story_path(@story.id)) %>
    <% else %>
      <%= link_to(
        "Back to previous comments in this thread",
        comment_path((@comment.parent&.root_comment_id || @comment.root_comment_id), story_id: @story.id),
        data: { controller: 'turbo', action: 'click->turbo#getTurboStream' }
      ) %>
    <% end %>
    <%= render partial: "comments/comment_with_replies", locals: { comment: @comment, is_root_comment: true } %>
  </div>
<% end %>
