<h2 class="page-title">Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |form| %>

  <div class="d-flex flex-column justify-content-center align-items-center">

    <div class="form-group mb-3 w-50">
      <%= form.label :email, class:"form-label" %>
      <%= form.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      <%= render partial: "layouts/shared/errors_for_form_with", locals: { resource: resource, attribute: :email } %>
    </div>

    <div class="mb-3 d-flex align-items-center justify-content-center">
      <%= form.submit "Resend unlock instructions", class:"btn btn-m btn-primary" %>
    </div>

    <%= render "devise/shared/links" %>`
  </div>
<% end %>
