<nav id="navbar" class="navbar navbar-light bg-light">
  <div class="d-flex justify-content-center align-items-center">
    <a id="navbar-home", class="navbar-brand m-1" href=<%= root_url %>>
      <%= t('home') %>
    </a>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <%= link_to t('stories.new_story'), new_story_path, id: "navbar-new-story", class: "btn btn-m btn-primary m-1" %>
    <%= link_to t('users.sign_up'), new_user_registration_path, id: "navbar-sign-up", class: "btn btn-m btn-primary m-1" unless user_signed_in? %>
    <%= link_to t('users.log_in'), new_user_session_path, id: "navbar-log-in", class: "btn btn-m btn-primary m-1" unless user_signed_in? %>
    <%= link_to t('users.log_out'), destroy_user_session_path, method: :delete, id: "navbar-log-out", class: "btn btn-m btn-danger m-1" if user_signed_in? %>
  </div>
</nav>
