<div id='<%= dom_id(votable) %>_votes' class='d-flex flex-row justify-content-start align-items-center'>
  <%= button_to public_send(vote_path, vote_params.merge(type: :upvote)), method: :patch, class: 'me-2 btn btn-link' do %>
    <%= image_tag("icons/votes/#{upvote_icon(votable, current_user)}.svg", width: '24px', height: '24px') %>
  <% end %>
  <span class='mx-1'><%= votable.weighted_score %></span><!-- TODO: use cached_weighted_like_score if the app gets big enough -->
  <%= button_to public_send(vote_path, vote_params.merge(type: :downvote)), method: :patch, class: 'ms-2 btn btn-link' do %>
    <%= image_tag("icons/votes/#{downvote_icon(votable, current_user)}.svg", width: '24px', height: '24px') %>
  <% end %>
</div>
