<%= tag.div id: "frontpage_#{dom_id(story)}", class: "story" do %>
  <div class="card">
    <div class="card-body d-flex flex-column w-100">

      <h5 id="frontpage_<%= dom_id(story) %>_title" class="card-title"><%= story.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <span id="frontpage_<%= dom_id(story) %>_user_username"><%= t('by_username', username: story.user.username) %></span>
        <span id="frontpage_<%= dom_id(story) %>_created_at"><%= t('at_date', date: story.created_at) %></span>
      </h6>
      <p id="frontpage_<%= dom_id(story) %>_content"><%= story.content %></p>
      <%= tag.div id: "frontpage_#{dom_id(story)}_pins" do %>
        <%= render partial: 'pins/pin', collection: story.pins, as: :pin %>
      <% end %>
      <%= render partial: "shared/votes", locals: { votable: story, vote_path: "vote_story_path", params: { id: story.id }} %>
    </div>
  </div>
<% end %>
