<%= form_with(model: story) do |form| %>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="form-group mb-3 w-50">
      <%= form.label :title, class: "form-label"%>
      <%= form.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
      <%= render partial: "layouts/shared/error_messages", locals: { resource: story, attribute: :title } %>
    </div>

    <div class="form-group mb-3 w-50">
      <%= form.label :content, class:"form-label" %>
      <%= form.text_area :content, autocomplete: "content", class:"form-control", rows: 8 %>
      <%= render partial: "layouts/shared/error_messages", locals: { resource: story, attribute: :content } %>
    </div>

    <div class="mb-3 d-flex align-items-center justify-content-center">
      <%= form.submit "Save", class:"btn btn-m btn-primary m-3" %>
      <%= link_to "Cancel", request.referer == new_story_url ? root_path : request.referer,
        data: { turbo_method: :get, turbo_confirm: "Are you sure? All yourchanges will be lost."},
        class: "btn btn-m btn-danger m-3" %>
    </div>
  </div>
<% end %>
