<div id="<%= dom_id story %>" class="card">
  <div class="card-body">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <h5 id="<%= dom_id story %>_title" class="card-title"><%= story.title %></h5>
      <div>
        <% if defined?(signed_in_user_is_creator) && signed_in_user_is_creator %>
          <span data-action="click->visibility#toggleTargets"><!-- TODO: hide dropdown on clickout -->
            <%= image_tag('icons/three_dots_horiz.svg', width: '32', height: '32') %>
          </span>
          <div data-visibility-target="hideable" class="dropdown" hidden>
            <%= link_to "Edit", edit_story_path(story), class: "text-decoration-none text-reset dropdown-item" %>
            <%= link_to "Delete", story_path(story), method: :delete, :onclick => "return confirm('Are you sure you want to delete this story?')", class: "text-decoration-none text-reset dropdown-item" %>
          </div>
        <% end %>
      </div>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">
      <span id="<%= dom_id story %>_user_username"><%= t('stories.by_username', username: story.user.username) %></span>
      <span id="<%= dom_id story %>_created_at"><%= t('stories.at_date', date: story.created_at) %></span>
    </h6>
    <p id="<%= dom_id story %>_content" class="card-text"><%= story.content %>.</p>
  </div>
</div>
