<div class="container">
  <div class="m-3">
    <%= button_to "Back to Stories", root_path, method: :get, class:"btn btn-m btn-secondary mb-3" %>
    <%= render @story %>

    <h5 class="mt-3 mb-3">Comments</h5>
    <% if user_signed_in? %>
      <turbo-frame id="<%= dom_id(@story) %>_new_comment">
        <%= render 'comments/form', commentable: @story, comment: Comment.new %>
      </turbo-frame>
    <% end %>

    <%= turbo_stream_from @story, :comments %>
    <%= tag.div id: "#{dom_id(@story)}_comments" do %>
      <% @story.comments.each do |comment| %>
        <%= render comment, commentable: @story, comment: comment %>
      <% end %>
    <% end %>
  </div>
</div>
