<p><%= t('hello_email', email: @resource.email) %></p>
<p><%= t('users.mailer.reset_password.content') %></p>
<p><%= link_to t('users.mailer.reset_password.button'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t('users.mailer.reset_password.footer_1') %></p>
<p><%= t('users.mailer.reset_password.footer_2') %></p>
